/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Sidebar CSS
 */

#sidebar {
  background-color: #2196F3;
  padding: 15px;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}


/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-left: 180px;
  }
}

.author {
  font-size: .8rem;
}


.floating-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.modal {
  max-width: 600px;
  max-height: 300px;
  margin: 100px auto;
  overflow-y: auto;
  background: #fff;
}

.modal > h1 {
  text-align: center;
}

.modal .modal-content {
  padding: 1rem;
}

.error {
  color: red;
}
